.prayerPage {
    background-color: #F8FFFD;
    padding-top: 1rem;


    background: url("/islamic.png"), linear-gradient(135deg, #0d1b2a -50%, #1b4332 100%);
    background-blend-mode: overlay;
}

.locationCard {
    background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
    color: #347060;
    transition: all 0.3s ease;
}

.locationCard:hover {
    background: linear-gradient(90deg, #c8ffd0 0%, #f4fff0 100%);
    transform: translateY(-3px);
}

.timePrayer {
    background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
    /* أبيض كخلفية عادية */
    color: #347060;
    border-right: 6px solid #18a999;
    transition: all 0.4s ease;
    min-height: 170px;
}

.timePrayer:hover {
    background: linear-gradient(90deg, #c8ffd0 0%, #f4fff0 100%);
    /* جريدينت عند الهوفر */
    transform: scale(1.02);
}

.prayerCard {
    background-color: #ffffff;
    border: 1px solid #d9f7d9;
    border-radius: 12px;
}

.prayerTitle {
    color: #18a999;
    font-weight: bold;
}

.heroImage {
    max-width: 70%;
    height: auto;
    border-radius: 1rem;
}

.locationCard {
    position: relative;
}

.iconCircle {
    background-color: #52AA9920;
    color: #3F8755;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* للكارت */
.prayer-card {
    min-height: 120px;
    transition: all 0.3s ease;
}

.prayer-card:hover {
    transform: translateY(-4px);
}

/* للأيقونة */
.prayer-icon {
    width: 50px;
    height: 50px;
    background-color: #52aa9920;
    border-radius: 12px;
}