.tasbeehCard {
    background-color: #f8fff5;
    /* أخضر فاتح للكارت */
    border-radius: 20px;
    transition: all 0.3s ease;
}

.tasbeehCard:hover {
    background-color: #e8ffe0;
    transform: translateY(-3px);
}

.inputZekr {
    border: 2px solid #18a999;
    border-radius: 12px;
    text-align: center;
}

.inputZekr:focus {
    box-shadow: none;
    border: #27ae60 1px solid;
}

.counterCircle {
    width: 150px;
    height: 150px;
    background: #18a999;
    /* أخضر داكن */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.btnGreen {
    background-color: #27ae60;
    color: #fff;
    border: none;
    transition: all 0.2s;
}

.btnGreen:hover {
    background-color: #2ecc71;
    transform: scale(1.05);
}

.btnRed {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    transition: all 0.2s;
}

.btnRed:hover {
    background-color: #ff6666;
    transform: scale(1.05);
}