/* .customGreen {
    color: #52AA99 !important;
} */

.cardCustom {
    border: 2px solid #52AA99 !important;
    border-radius: 14px !important;
    padding: 20px !important;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    /* transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.5s; */
    cursor: pointer;
    color: #52AA99;

}

.cardCustom:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    background-color: #52AA99;
    color: #ffff;
    transition: all 0.5s;
}